<div *ngIf="showSpinner">
  <div class="example">
    <nz-spin nzSimple></nz-spin>
  </div>
</div>
<div *ngIf="!showSpinner">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <div class="card">
          <div class="card-header"><i class="cui-note icons"></i> Complain</div>
          <div class="card-body">
            <form
              nz-form
              [formGroup]="validateForm"
              (ngSubmit)="submitForm(validateForm.value)"
            >
              <nz-form-item>
                <br /><br />
                <nz-form-label [nzSpan]="15" nzRequired
                  >Do you want to reveal your identity with the
                  administrative<br />
                  and judicial authorities or any other structure
                  ?</nz-form-label
                >
                <br />
                <nz-radio-group
                  formControlName="permission"
                  [(ngModel)]="this.newReport.permission"
                  nzName="radiogroup"
                >
                  <label nz-radio nzValue="YES">YES</label>
                  <label nz-radio nzValue="NON">NON</label>
                </nz-radio-group>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label [nzSpan]="6" nzRequired
                  >Reported Person
                </nz-form-label>
                <nz-form-control [nzSpan]="16">
                  <input
                    nz-input
                    [(ngModel)]="this.newReport.person"
                    formControlName="person"
                    placeholder="Reported Person"
                  />
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label [nzSpan]="6" nzRequired
                  >Reported Structure
                </nz-form-label>
                <nz-form-control [nzSpan]="16">
                  <input
                    nz-input
                    [(ngModel)]="this.newReport.structure"
                    formControlName="structure"
                    placeholder="Reported Structure"
                  />
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label [nzSpan]="6" nzRequired>Sector </nz-form-label>
                <nz-radio-group
                  formControlName="sector"
                  [(ngModel)]="this.newReport.sector"
                  nzName="radiogroup"
                >
                  <label nz-radio nzValue="Public">Public</label>
                  <label nz-radio nzValue="Private">Private</label>
                </nz-radio-group>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label [nzSpan]="6" nzRequired>Subject </nz-form-label>
                <nz-form-control [nzSpan]="16">
                  <nz-input-group
                    [nzSuffix]="textAreaClearTpl"
                    class="ant-input-affix-wrapper-textarea-with-clear-btn"
                  >
                    <textarea
                      nz-input
                      [(ngModel)]="this.newReport.subject"
                      formControlName="subject"
                      placeholder="Subject"
                    ></textarea>
                  </nz-input-group>
                  <ng-template #textAreaClearTpl
                    ><i
                      nz-icon
                      class="ant-input-textarea-clear-icon"
                      nzTheme="fill"
                      nzType="close-circle"
                      *ngIf="this.newReport.subject"
                      (click)="this.newReport.subject = null"
                    ></i
                  ></ng-template>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-control [nzOffset]="9" [nzSpan]="14">
                  <button
                    nz-button
                    nzType="primary"
                    [disabled]="!validateForm.valid"
                  >
                    Save
                  </button>
                  <button nz-button (click)="resetForm($event)">
                    Reset
                  </button>
                </nz-form-control>
              </nz-form-item>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</div>
