<nav class="navbar navbar-expand-lg">
    <img src="../../assets/img/LogoA.png" />
    <h1 class="navbar-brand"><b>gainst Abuse And Fake News</b></h1>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <div class="col-8"></div>
        <div class="bt-contact">
            <button [routerLink]="['../login']" type="submit">Log Up</button>
            <button [routerLink]="['../sign']" type="submit">Sign In</button>
        </div>
    </div>
</nav>

<!--Main Navigation-->

<!-- Start Slider Area -->
<section class="carousel" aria-label="Gallery">
    <ol class="carousel__viewport">
        <li id="carousel__slide1" tabindex="0" class="carousel__slide">
            <div class="carousel__snapper">
                <a href="#carousel__slide3" class="carousel__prev">Go to last slide</a>
                <a href="#carousel__slide2" class="carousel__next">Go to next slide</a>
            </div>
        </li>
        <li id="carousel__slide2" tabindex="0" class="carousel__slide">
            <div class="carousel__snapper"></div>
            <a href="#carousel__slide1" class="carousel__prev">Go to previous slide</a>
            <a href="#carousel__slide3" class="carousel__next">Go to next slide</a>
        </li>
        <li id="carousel__slide3" tabindex="0" class="carousel__slide">
            <div class="carousel__snapper"></div>
            <a href="#carousel__slide2" class="carousel__prev">Go to previous slide</a>
            <a href="#carousel__slide1" class="carousel__next">Go to next slide</a>
        </li>
    </ol>
    <aside class="carousel__navigation">
        <ol class="carousel__navigation-list">
            <li class="carousel__navigation-item">
                <a href="#carousel__slide1" class="carousel__navigation-button">Go to slide 1</a>
            </li>
            <li class="carousel__navigation-item">
                <a href="#carousel__slide2" class="carousel__navigation-button">Go to slide 2</a>
            </li>
            <li class="carousel__navigation-item">
                <a href="#carousel__slide3" class="carousel__navigation-button">Go to slide 3</a>
            </li>
        </ol>
    </aside>
</section>
<!-- End Slider Area -->

<!-- Start About area -->
<div id="about" class="about-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>About Us</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- single-well start-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-left">
                    <div class="single-well">
                        <a href="#">
                            <img src="../../assets/img/complain.jpg" alt="" />
                        </a>
                    </div>
                </div>
            </div>
            <!-- single-well end-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-middle">
                    <div class="single-well">
                        <a href="#">
                            <h4 class="sec-head">Ours Goals</h4>
                        </a>
                        <p>
                            Redug Lagre dolor sit amet, consectetur adipisicing elit. Itaque
                            quas officiis iure aspernatur sit adipisci quaerat unde at
                            nequeRedug Lagre dolor sit amet, consectetur adipisicing elit.
                            Itaque quas officiis iure
                        </p>
                        <ul>
                            <li><i class="fa fa-check"></i> Interior design Package</li>
                            <li><i class="fa fa-check"></i> Building House</li>
                            <li><i class="fa fa-check"></i> Reparing of Residentail Roof</li>
                            <li>
                                <i class="fa fa-check"></i> Renovaion of Commercial Office
                            </li>
                            <li><i class="fa fa-check"></i> Make Quality Products</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End col-->
        </div>
    </div>
</div>
<!-- End About area -->

<!-- Start Service area -->
<div id="services" class="services-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline services-head text-center">
                    <div class="head-services">
                        <h2>Our Services</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <!-- Start Left services -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="about-move">
                    <div class="services-details">
                        <div class="single-services">
                            <a class="services-icon" href="#">
                                <i class="fa fa-code"></i>
                            </a>
                            <h4><b>STOP CORRUPTION</b></h4>
                            <p>
                                will have to make sure the prototype looks finished by
                                inserting text or photo.make sure the prototype looks finished
                                by.
                            </p>
                        </div>
                    </div>
                    <!-- end about-details -->
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="about-move">
                    <div class="services-details">
                        <div class="single-services">
                            <a class="services-icon" href="#">
                                <i class="fa fa-camera-retro"></i>
                            </a>
                            <h4><b>REPORT FAKE NEWS</b></h4>
                            <p>
                                will have to make sure the prototype looks finished by
                                inserting text or photo.make sure the prototype looks finished
                                by.
                            </p>
                        </div>
                    </div>
                    <!-- end about-details -->
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- end col-md-4 -->
                <div class="about-move">
                    <div class="services-details">
                        <div class="single-services">
                            <a class="services-icon" href="#">
                                <i class="fa fa-wordpress"></i>
                            </a>
                            <h4><b>REPORT ABUSE</b></h4>
                            <p>
                                will have to make sure the prototype looks finished by
                                inserting text or photo.make sure the prototype looks finished
                                by.
                            </p>
                        </div>
                    </div>
                    <!-- end about-details -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Service area -->

<!-- Start Testimonials -->
<div class="testimonials-area">
    <div class="testi-inner area-padding">
        <div class="testi-overly"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- Start testimonials Start -->
                    <div class="testimonial-content text-center">
                        <div class="heading white-heading">
                            Testimonial
                        </div>
                        <!-- start testimonial carousel -->
                        <div class="testimonial-slider">
                            <ul class="slider">
                                <li>
                                    <div class="testimonial-slider-content">
                                        <q>Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem Ipsum has been the industry's
                                            standard dummy text ever since the 1500s, when an unknown
                                            printer took a galley of type and scrambled it to make a
                                            type specimen book.</q>
                                        <p class="source">- Jack Ma</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="testimonial-slider-content">
                                        <q>Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem Ipsum has been the industry's
                                            standard dummy text ever since the 1500s, when an unknown
                                            printer took a galley of type and scrambled it to make a
                                            type specimen book.</q>
                                        <p class="source">- Steve Jobs</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="testimonial-slider-content">
                                        <q>Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem Ipsum has been the industry's
                                            standard dummy text ever since the 1500s, when an unknown
                                            printer took a galley of type and scrambled it to make a
                                            type specimen book.</q>
                                        <p class="source">- Jeff Bezos</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="testimonial-slider-content">
                                        <q>
                                            Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem Ipsum has been the industry's
                                            standard dummy text ever since the 1500s, when an unknown
                                            printer took a galley of type and scrambled it to make a
                                            type specimen book.
                                        </q>
                                        <p class="source">- Mark Zuckerberg</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End testimonials end -->
                </div>
                <!-- End Right Feature -->
            </div>
        </div>
    </div>
</div>
<!-- End Testimonials -->

<!-- Start contact Area -->
<div id="contact" class="contact-area">
    <div class="contact-inner area-padding">
        <div class="contact-overly"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Contact us</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Start contact icon column -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="contact-icon text-center">
                        <div class="single-icon">
                            <i class="fa fa-mobile fa-lg"></i>
                            <p><b>Call: +123 456 789</b>
                                <br />
                                <b>Fax: +123 456 789</b></p>
                        </div>
                    </div>
                </div>
                <!-- Start contact icon column -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="contact-icon text-center">
                        <div class="single-icon">
                            <i class="fa fa-envelope-o fa-lg"></i>
                            <p><b> Email: contact@example.com</b>
                                <br />
                                <b>Web: www.example.com</b>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Start contact icon column -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="contact-icon text-center">
                        <div class="single-icon">
                            <i class="fa fa-map-marker fa-lg"></i>
                            <p><b>Location: A108 Habib Bougiba Street</b><br />
                                <b>NY 535022, TUNIS</b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Start  contact -->
                <div class="col-md-3"></div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form contact-form">
                        <div id="sendmessage">
                            Your message has been sent. Thank you!
                        </div>
                        <div id="errormessage"></div>
                        <form action="" method="post" role="form" class="contactForm">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                    data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject"
                                    placeholder="Subject" data-rule="minlen:4"
                                    data-msg="Please enter at least 8 chars of subject" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" data-rule="required"
                                    data-msg="Please write something for us" placeholder="Message"></textarea>
                                <div class="validation"></div>
                            </div>
                            <div class="text-center">
                                <button type="submit">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-3"></div>
                <!-- End Left contact -->
            </div>
        </div>
    </div>
</div>
<!-- End Contact Area -->

<!-- Start Footer bottom Area -->
<footer>
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <div class="footer-logo">
                                <img src="../../assets/img/LogoA.png" style="float: left;" />
                                <br />
                                <h4><strong>gainst Abuse And Fake News</strong></h4>
                            </div>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                                quae ab illo inventore veritatis.
                            </p>
                            <div class="footer-icons">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-facebook fa-lg"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-google fa-lg"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-2 col-sm-2 col-xs-12"></div>
                <!-- end single footer -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h3><strong>Information</strong></h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor.
                            </p>
                            <div class="footer-contacts">
                                <p><span>Tel:</span> +123 456 789</p>
                                <p><span>Email:</span> contact@example.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
            </div>
        </div>
    </div>
    <div class="footer-area-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="copyright text-center">
                        <p>
                            &copy; Copyright <strong>Against Abuse And Fake News</strong>.
                        </p>
                    </div>
                    <div class="credits">
                        All Rights Reserved
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>