<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="icon-location-pin"></i>
          </button>
          <div class="text-value">75</div>
          <div>Members</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height: 70px;">
          <canvas
            baseChart
            class="chart"
            [datasets]="lineChart2Data"
            [labels]="lineChart2Labels"
            [options]="lineChart2Options"
            [colors]="lineChart2Colours"
            [legend]="lineChart2Legend"
            [chartType]="lineChart2Type"
          ></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent p-0">
              <i class="icon-settings"></i>
            </button>
          </div>
          <div class="text-value">5</div>
          <div>Reports</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height: 70px;">
          <canvas
            baseChart
            class="chart"
            [datasets]="lineChart1Data"
            [labels]="lineChart1Labels"
            [options]="lineChart1Options"
            [colors]="lineChart1Colours"
            [legend]="lineChart1Legend"
            [chartType]="lineChart1Type"
          ></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-success">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent p-0">
              <i class="icon-settings"></i>
            </button>
          </div>
          <div class="text-value">2</div>
          <div>Partners</div>
        </div>
        <div class="chart-wrapper mt-3" style="height: 70px;">
          <canvas
            baseChart
            class="chart"
            [datasets]="lineChart3Data"
            [labels]="lineChart3Labels"
            [options]="lineChart3Options"
            [colors]="lineChart3Colours"
            [legend]="lineChart3Legend"
            [chartType]="lineChart3Type"
          ></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent p-0">
              <i class="icon-settings"></i>
            </button>
          </div>
          <div class="text-value">23</div>
          <div>Fake News</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height: 70px;">
          <canvas
            baseChart
            class="chart"
            [datasets]="barChart1Data"
            [labels]="barChart1Labels"
            [options]="barChart1Options"
            [colors]="barChart1Colours"
            [legend]="barChart1Legend"
            [chartType]="barChart1Type"
          ></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Traffic</h4>
        </div>
        <!--/.col-->
        <div class="col-sm-7 d-none d-md-block">
          <div
            class="btn-group btn-group-toggle float-right mr-3"
            data-toggle="buttons"
          >
            <label
              class="btn btn-outline-secondary"
              [(ngModel)]="radioModel"
              btnRadio="Day"
              id="option1"
              >Day</label
            >
            <label
              class="btn btn-outline-secondary"
              [(ngModel)]="radioModel"
              btnRadio="Month"
              id="option2"
              >Month</label
            >
            <label
              class="btn btn-outline-secondary"
              [(ngModel)]="radioModel"
              btnRadio="Year"
              id="option3"
              >Year</label
            >
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->
      <div class="chart-wrapper" style="height: 300px; margin-top: 40px;">
        <canvas
          baseChart
          class="chart"
          [datasets]="mainChartData"
          [labels]="mainChartLabels"
          [options]="mainChartOptions"
          [colors]="mainChartColours"
          [legend]="mainChartLegend"
          [chartType]="mainChartType"
        ></canvas>
      </div>
    </div>
    <div class="card-footer">
      <div class="row text-center">
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Visits</div>
          <strong>29.703 Users (40%)</strong>
          <div class="progress progress-xs mt-2">
            <div
              class="progress-bar bg-success"
              role="progressbar"
              style="width: 40%;"
              aria-valuenow="40"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Unique</div>
          <strong>24.093 Users (40%)</strong>
          <div class="progress progress-xs mt-2">
            <div
              class="progress-bar bg-info"
              role="progressbar"
              style="width: 40%;"
              aria-valuenow="40"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Pageviews</div>
          <strong>78.706 Views (60%)</strong>
          <div class="progress progress-xs mt-2">
            <div
              class="progress-bar bg-warning"
              role="progressbar"
              style="width: 80%;"
              aria-valuenow="60"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">New Users</div>
          <strong>22.123 Users (80%)</strong>
          <div class="progress progress-xs mt-2">
            <div
              class="progress-bar bg-danger"
              role="progressbar"
              style="width: 80%;"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Bounce Rate</div>
          <strong>40.15%</strong>
          <div class="progress progress-xs mt-2">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 40%;"
              aria-valuenow="40"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--/.row-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Traffic &amp; Regions</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-5"></div>
            <div class="col-sm-4">
              <div class="callout callout-info">
                <small class="text-muted"><strong>Users</strong></small>
                <br />
                <strong class="h4">75</strong>
              </div>
            </div>
            <div class="col-sm-3"></div>
          </div>
          <div class="row">    
            <div class="col-sm-6">
              <!--<div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                  <div class="callout callout-info">
                    <small class="text-muted"><strong>Users</strong></small>
                    <br />
                    <strong class="h4">9,123</strong>
                  </div>
                </div>
                <div class="col-sm-4"></div>
              </div>-->
              <!--/.row-->
              <hr class="mt-0" />
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    <strong>Ariana</strong>
                  </span>
                </div>
                <div class="progress-group-bars">
                  <nz-progress
                    [nzPercent]="50"
                  ></nz-progress>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    <strong>Beja</strong>
                  </span>
                </div>
                <div class="progress-group-bars">
                  <nz-progress
                    [nzPercent]="50"
                  ></nz-progress>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    <strong>Ben Arous</strong>
                  </span>
                </div>
                <div class="progress-group-bars">
                  <nz-progress
                    [nzPercent]="50"
                  ></nz-progress>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    <strong>Bizerte</strong>
                  </span>
                </div>
                <div class="progress-group-bars">
                  <nz-progress
                    [nzPercent]="50"
                  ></nz-progress>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    <strong>Gabes</strong>
                  </span>
                </div>
                <div class="progress-group-bars">
                  <nz-progress
                    [nzPercent]="50"
                  ></nz-progress>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    <strong>Gafsa</strong>
                  </span>
                </div>
                <div class="progress-group-bars">
                  <nz-progress
                    [nzPercent]="50"
                  ></nz-progress>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    <strong>Jandouba</strong>
                  </span>
                </div>
                <div class="progress-group-bars">
                  <nz-progress
                    [nzPercent]="50"
                  ></nz-progress>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    <strong>Kairouan</strong>
                  </span>
                </div>
                <div class="progress-group-bars">
                  <nz-progress
                    [nzPercent]="50"
                  ></nz-progress>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    <strong>Kasserine</strong>
                  </span>
                </div>
                <div class="progress-group-bars">
                  <nz-progress
                    [nzPercent]="50"
                  ></nz-progress>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    <strong>Kebili</strong>
                  </span>
                </div>
                <div class="progress-group-bars">
                  <nz-progress
                    [nzPercent]="50"
                  ></nz-progress>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    <strong>Kef</strong>
                  </span>
                </div>
                <div class="progress-group-bars">
                  <nz-progress
                    [nzPercent]="50"
                  ></nz-progress>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    <strong>Mahdia</strong>
                  </span>
                </div>
                <div class="progress-group-bars">
                  <nz-progress
                    [nzPercent]="50"
                  ></nz-progress>
                </div>
              </div>
            </div>
            <!--/.col-->
            <div class="col-sm-6">
              <!--<div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                  <div class="callout callout-danger">
                    <small class="text-muted"><strong>Reports</strong></small>
                    <br />
                    <strong class="h4">78,623</strong>
                  </div>
                </div>
                <div class="col-sm-4"></div>
              </div>-->
              <!--/.row-->
              <hr class="mt-0" />
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    <strong>Manouba</strong>
                  </span>
                </div>
                <div class="progress-group-bars">
                  <nz-progress
                    [nzPercent]="50"
                  ></nz-progress>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    <strong>Medenine</strong>
                  </span>
                </div>
                <div class="progress-group-bars">
                  <nz-progress
                    [nzPercent]="50"
                  ></nz-progress>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    <strong>Monastir</strong>
                  </span>
                </div>
                <div class="progress-group-bars">
                  <nz-progress
                    [nzPercent]="50"
                  ></nz-progress>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    <strong>Nabeul</strong>
                  </span>
                </div>
                <div class="progress-group-bars">
                  <nz-progress
                    [nzPercent]="50"
                  ></nz-progress>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    <strong>Sfax</strong>
                  </span>
                </div>
                <div class="progress-group-bars">
                  <nz-progress
                    [nzPercent]="50"
                  ></nz-progress>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    <strong>Sidi Bouzid</strong>
                  </span>
                </div>
                <div class="progress-group-bars">
                  <nz-progress
                    [nzPercent]="50"
                  ></nz-progress>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    <strong>Siliana</strong>
                  </span>
                </div>
                <div class="progress-group-bars">
                  <nz-progress
                    [nzPercent]="50"
                  ></nz-progress>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    <strong>Sousse</strong>
                  </span>
                </div>
                <div class="progress-group-bars">
                  <nz-progress
                    [nzPercent]="50"
                  ></nz-progress>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    <strong>Tataouine</strong>
                  </span>
                </div>
                <div class="progress-group-bars">
                  <nz-progress
                    [nzPercent]="50"
                  ></nz-progress>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    <strong>Tozeur</strong>
                  </span>
                </div>
                <div class="progress-group-bars">
                  <nz-progress
                    [nzPercent]="50"                   
                  ></nz-progress>    
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    <strong>Tunis</strong>
                  </span>
                </div>
                <div class="progress-group-bars">
                  <nz-progress
                    [nzPercent]="50"
                  ></nz-progress>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="progress-group-text">
                    <strong>Zaghouan</strong>
                  </span>
                </div>
                <div class="progress-group-bars">
                    <nz-progress
                    [nzPercent]="50"
                    
                  ></nz-progress>
                </div>
              </div>
            </div>
            <!--/.col-->
          </div>
          <!--/.row-->
          <br />
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
  <!--/.row-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Range Age &amp; Sexe
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <div class="callout callout-primary">
                    <small class="text-muted">Male</small>
                    <br />
                    <strong class="h4">40</strong>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="callout callout-danger">
                    <small class="text-muted">Female</small>
                    <br />
                    <strong class="h4">35</strong>
                  </div>
                </div>
              </div>
              <!--/.row-->
              <hr class="mt-0" />
              <div>
                <div class="chart">
                  <canvas
                    baseChart
                    [data]="pieChartData1"
                    [labels]="pieChartLabels1"
                    [chartType]="pieChartType1"
                    [options]="pieChartOptions1"
                    [colors]="pieChartColors1"
                    [legend]="pieChartLegend1"
                  >
                  </canvas>
                </div>
              </div>
            </div>
            <!--/.col-->
            <div class="col-sm-6">
              <div class="row">
                <!--/.col-->
                <div class="col-sm-4">
                  <div class="callout callout-success">
                    <small class="text-muted"><strong>18 < Age </strong></small>
                    <br />
                    <strong class="h4">4</strong>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="callout callout-info">
                    <small class="text-muted"
                      ><strong>18 < Age 30</strong></small
                    >
                    <br />
                    <strong class="h4">49</strong>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="callout callout-warning">
                    <small class="text-muted"><strong>Age < 30</strong></small>
                    <br />
                    <strong class="h4">22</strong>
                  </div>
                </div>
                <!--/.col-->
              </div>
              <!--/.row-->
              <hr class="mt-0" />
              <div>
                <div class="chart">
                  <canvas
                    baseChart
                    [data]="pieChartData2"
                    [labels]="pieChartLabels2"
                    [chartType]="pieChartType2"
                    [options]="pieChartOptions2"
                    [colors]="pieChartColors2"
                    [legend]="pieChartLegend2"
                  >
                  </canvas>
                </div>
              </div>
            </div>
            <!--/.col-->
          </div>
          <!--/.row-->
          <br />
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
